/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: transparent; /* Adjusted for transparent header */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    color: #fff;
}

.user-controls a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.user-controls .icon-placeholder {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent; /* Icons might be replaced with actual images */
    text-align: center;
    line-height: 24px;
    margin-right: 5px;
}

/* Hero Section */
.hero {
    background-image: url('1.png'); /* Updated background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative; /* For overlay */
}

.hero:before { /* Overlay */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    z-index: 1;
}

h1 {
    position: relative;
    z-index: 2;
    font-family: 'Arial', sans-serif; /* Adjusted font-family to match the design */
    font-size: 3em; /* Adjusted font size */
    margin-bottom: 0.5em;
}

.btn {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 10px 20px;
    background-color: #444; /* Adjusted to match design */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease; /* Added transition for hover effect */
}

.btn:hover {
    background-color: #666; /* Darker shade on hover */
}
