/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333; /* Placeholder color */
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .logo {
    font-size: 24px;
    color: #fff;
  }
  
  .user-controls a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .user-controls .icon-placeholder {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ddd; /* Icon placeholder */
    text-align: center;
    line-height: 24px;
    margin-right: 5px;
  }
  
  /* Hero Section */
  .hero {
    background-image: url('https://github.com/NicklasPhoenix/Unrau/blob/a139a3c47dc837d79f743b328bd9bd39d591d81b/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222; /* Button placeholder color */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  